# Scraping Data

In [103]:
# For Scraping Data
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep

# For Data Science
import pandas as pd

In [104]:
driver = webdriver.Chrome()
driver.get('https://books.toscrape.com/')

In [105]:
book_dicts = []
def get_books():
    for element in driver.find_elements(By.XPATH, '//article[@class="product_pod"]'):
        title = element.find_element(By.XPATH, './/h3/a').text
        price = element.find_element(By.XPATH, './/div[@class="product_price"]/p[1]').text
        stock = element.find_element(By.XPATH, './/p[@class="instock availability"]').text
        # Append to Array
        book_dict = {'title':title,'price':price,'stock':stock}
        book_dicts.append(book_dict)

    try:
        driver.find_element(By.XPATH, '//li[@class="next"]/a').click()
        sleep(6)
        get_books()
    except Exception as e:
        print("Done Scraping Data!")
get_books()

Done Scraping Data!

In [106]:
df1 = pd.DataFrame(book_dicts)
df1 = df1.to_csv('csv_file/test_books_selenium.csv', index = False)

# Data Science

In [107]:
df = pd.read_csv('csv_file/test_books_selenium.csv')
df.head()

                          title   price     stock
0            A Light in the ...  £51.77  In stock
1            Tipping the Velvet  £53.74  In stock
2                    Soumission  £50.10  In stock
3                 Sharp Objects  £47.82  In stock
4  Sapiens: A Brief History ...  £54.23  In stock